.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
p{
  margin: 0;
}
*{box-sizing: border-box;}

#canvas{
    border:1px solid black;
    display:block;
  }

body{
  margin:0;
}


.canvasTool{
  display: flex;
  position:fixed;
  left:0;
  top:0;
  padding: 20px;
}
.canvasTool svg{
  width:2em;
  height:1.5em;
}
.canvasTool svg.active{
  fill:red;
  transform: scale(1.2);
  transition: all 0.1s;
}